/* Powercutx */
.page-title {
  /* position: absolute;
  width: 424px;
  height: 104px;
  left: 133px;
  top: 111px; */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 104px;
}
.title-x {
  color: yellow;
}
/* See who else has no power in Sri Lanka. Share your story with everyone. */
.page-desc {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: lighter;
  font-size: 20pt;
}

.text-subtitle {
  font-style: italic;
  font-size: 16pt;
}

.text-bold {
  font-style: bold;
}
